.app {
  display: flex;
  gap: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-xs);

  position: relative;
  padding-right: var(--gutter-xs);
}

.nav::after {
  width: 1px;
  height: 100%;
  content: '';
  background-color: gray;
  position: absolute;
  top: 0;
  left: 100%;
}

.nav > * {
  display: flex;
  align-items: center;
}

.nav > *::after {
  content: '👈';
  visibility: hidden;
}

[aria-current='page'] {
  color: coral;
  text-decoration: none;
}

[aria-current='page']::after {
  visibility: visible !important;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-exit-to {
  opacity: 0;
}
